pipeline/ingest_SalesOrderDetail.json
{
	"name": "ingest_SalesOrderDetail",
	"properties": {
		"activities": [
			{
				"name": "Lookup_water_marker",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select \nmax(mostRecentDatetime) as mostRecentDateTime\nfrom controller.water_mark\nwhere tableName = 'SalesLT.SalesOrderDetail'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataSource_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "controller",
							"tableName": "water_mark"
						}
					}
				}
			},
			{
				"name": "If_water_marker_isNull",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_water_marker",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('Lookup_water_marker').output.firstRow.mostRecentDatetime)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SetVariable_water_mark",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "water_mark",
								"value": {
									"value": "@activity('Lookup_water_marker').output.firstRow.mostRecentDatetime",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "setVariable_dataInicial",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "water_mark",
								"value": {
									"value": "1900-01-01",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ingestion_SalesOrderDetail",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If_water_marker_isNull",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT  * FROM [SalesLT].[SalesOrderDetail]\nwhere ModifiedDate > '@{variables('water_mark')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SalesOrderID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SalesOrderDetailID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderDetailID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "OrderQty",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "OrderQty",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "UnitPriceDiscount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPriceDiscount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 38
								},
								"sink": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dataSource_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"tableName": "SalesOrderDetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dataSource_adls_parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"path": {
								"value": "SalesLT/SalesOrderDetail/@{utcNow('yyyyMMdd')}",
								"type": "Expression"
							},
							"fileName": {
								"value": "file-@{variables('water_mark')}.parquet",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "if has rows read",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ingestion_SalesOrderDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ingestion_SalesOrderDetail').output.rowsRead,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Lookup_mostRecentDateTime",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select max(modifiedDate) as \nmostRecentDateTime \nfrom SalesLT.SalesOrderDetail",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dataSource_sqldb",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"tableName": "SalesOrderDetail"
									}
								}
							}
						},
						{
							"name": "SP Update Water Maker",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup_mostRecentDateTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[controller].[update_water_mark]",
								"storedProcedureParameters": {
									"mostRecentDateTime": {
										"value": {
											"value": "@activity('Lookup_mostRecentDateTime').output.firstRow.mostRecentDatetime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tableName": {
										"value": "SalesLT.SalesOrderDetail",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linkedServices_azure_sql_bd",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"water_mark": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-12-26T14:39:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}